
@{
    ViewBag.Title = "Anomalia";
}

<link rel="stylesheet" type="text/css" href="~/imagens/an/css/style.css">

<script src="~/imagens/an/js/js.js"></script>
<style>
    p{
        margin: revert;
    }
</style>
<div id="sidebar">
    <div id="outline">
    </div>
</div>
<div id="page-container" style="text-align:left">
    <div id="pf31" class="pf w0 h0" data-page-no="31" style="text-align: center;">
        <div class="pc pc3 w0 h0 opened">
            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0">
                    <p class="western" style="font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7. Módulo de Anomalias
                            </font>
                        </font>
                    </p>
                </div>
                <br />
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -150px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -470px;width: 2000px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                O módulo de Anomalias pode ser acessado no menu lateral
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="~/imagens/an/content/img-modulo.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                </div>
            </div>

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 300px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.1 Legendas
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Primeiro item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo2.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1190px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Os tipos de Anomalias são agrupados em Legendas. Para o sistema a legenda é a sigla que antecede o número indicativo do tipo da anomalia (por exemplo F para fissuras).
                                <br>
                                Para cada Legenda estão definidos símbolos e hachuras para identificação destas anomalias nos croquis que são apresentados nos Relatórios de Inspeção como um dos produtos da inspeção.
                            </font>
                        </font>
                    </p>


                </div>
            </div>

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="margin-left: -329px; margin-top: 400px;">

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo3.png" name="graphics54" align="BOTTOM" width="2800" height="2100" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo4.png" name="graphics54" align="BOTTOM" width="2800" height="1100" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -365px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Observação: Todas as Legendas previstas já estarão carregadas ao ser implantado o sistema.
                            </font>
                        </font>
                    </p>

                </div>
            </div>


            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 820px;margin-left: -50px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; width: 1300px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.2 Tipos de Anomalia
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;width: 1423px;margin-left: -165px">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Segundo item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo5.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1020px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Para cada Legenda de Anomalia, são definidos os Tipos das Anomalias.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -830px;">
                        <img src="~/imagens/an/content/img-modulo6.png" name="graphics54" align="BOTTOM" width="3100" height="1100" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1000px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Observação: Assim como as Legendas, todos os tipos de Anomalias estarão todos cadastrados quando o sistema for implantado.
                            </font>
                        </font>
                    </p>

                </div>
            </div>
            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 720px;margin-left: -50px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; width: 1300px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.3 Causas
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;width: 1423px;margin-left: -165px">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                O Terceiro item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo7.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1020px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Para cada Legenda de Anomalia, são definidas as Causas prováveis para a anomalia detectada.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -830px;">
                        <img src="~/imagens/an/content/img-modulo8.png" name="graphics54" align="BOTTOM" width="3100" height="1100" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1000px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Observação: As Causas de Anomalias também estarão cadastradas quando o sistema for implantado.
                            </font>
                        </font>
                    </p>
                </div>
            </div>

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 730px;margin-left: -50px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; width: 1300px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.4 Níveis de Alerta
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;width: 1423px;margin-left: -165px">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Quarto item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo9.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1020px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Todas as Anomalias detectadas em uma inspeção, são classificadas quanto ao nível de criticidade aqui definido como Nível de Alerta.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -830px;">
                        <img src="~/imagens/an/content/img-modulo10.png" name="graphics54" align="BOTTOM" width="3100" height="1100" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1000px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Observação: Os Níveis de Alerta estabelecidos pela Engenharia estarão cadastradas quando o sistema for implantado.
                            </font>
                        </font>
                    </p>
                </div>
            </div>

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 730px;margin-left: -50px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; width: 1300px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.5 Status
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;width: 1423px;margin-left: -165px">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Quinto item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo11.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1020px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Os Status previstos para as Anomalias são: Aguardando Reparo, Reparada e Superada.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1350px;">
                        <img src="~/imagens/an/content/img-modulo12.png" name="graphics54" align="BOTTOM" width="4005" height="1131" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1000px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Observação: Quando uma OS de Inspeção Especial é encerrada, todas as Anomalias detectadas com indicação de Reparos, terão seus status preenchidos como "Aguardando Reparo" para que seja feito o acompanhamento do seu estado até que ela seja reparada.
                            </font>
                        </font>
                    </p>
                </div>
            </div>

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0" style="text-align: center; margin-top: 730px;margin-left: -50px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; width: 1300px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px; margin-top: -40px; padding: 10px;">
                                7.6 Fluxo Status
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -180px;width: 1423px;margin-left: -165px">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; ">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Sexto item do módulo de Anomalias
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="~/imagens/an/content/img-modulo13.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1020px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                Uma Anomalia Aguardando Reparo poderá ter o seu status atualizado para Reparada ou Superada.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -830px;">
                        <img src="~/imagens/an/content/img-modulo14.png" name="graphics54" align="BOTTOM" width="3100" height="1100" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal;margin-left: -1000px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px; ">
                                <br>
                                As Anomalias detectadas em uma Inspeção Especial, são associadas à OS de Inspeção Especial. Estes registros são transferidos para as OS's de Orçamento e na sequencia para as OS's de Reparo.
                                <br>
                                Os status das Anomalias vão sendo alterados, a medida que uma OS de Orçamento é aprovada ou uma OS de Reparo é aberta ou executada.
                                <br>
                                Nestas ocasiões, o status na OS anterior (OS de Inspeção Especial no caso de uma OS de Orçamento aprovada, ou OS de Orçamento no caso de uma OS de Reparo Planejada) é atualizado para SUPERADO, e o dados são copiados para a próxima OS (OS de Orçamento ou OS de Reparo) com o status da anomalia como AGUARDANDO REPARO, até que a OS de Reparo seja executada e a anomalia seja reparada.
                                <br>
                                Apresenta-se a seguir um Fluxograma com a indicação da atualização destes status nas OS's de Inspeção Especial, Orçamento e Reparo:
                            </font>
                        </font>
                    </p>
                    <br>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -260px;">
                        <img src="~/imagens/an/content/img-modulo15.png" name="graphics54" align="BOTTOM" width="2100" height="2200" border="0">
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

