
@{
    ViewBag.Title = "Conservas";
}

<link rel="stylesheet" type="text/css" href="~/imagens/conservas/css/style.css">

<script src="~/imagens/conservas/js/js.js"></script>
<style>
    p {
        margin: revert;
    }
</style>

<div id="page-container">
    <div id="pf31" class="pf w0 h0" data-page-no="31" style="text-align: center;">
        <div class="pc pc3 w0 h0 opened">

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0">

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                9. Módulo de Conservas
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -150px;">
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                O módulo de Conservas pode ser acessado no menu lateral
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="/imagens/conservas/content/img-1.png" name="graphics54" align="BOTTOM" width="900" height="700" border="0">
                    </p>

                    <br>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Ficou estabelecido que as Inspeções Rotineiras, que apresentam frequência anual, além de sua função principal de verificar os itens de manutenção estrutural e durabilidade, são elencados ainda itens de avaliação das condições funcionais das OAEs que deverão ser mantidos em níveis satisfatórios através das ações de conserva a serem demandadas ao SAC caso estas condições não se encontrarem satisfatórias por ocasião da Inspeção Rotineira.
                                <br>
                                Assim, o SIGOA exercerá um monitoramento anual e contínuo das condições de Conserva das OAEs, cuja manutenção é responsabilidade do SAC.
                                <br>
                                Destaca-se que, dentro do SIGOA, os itens de monitoramento da Conserva das OAEs são avaliados e conceituados anualmente, a partir das Inspeções Rotineiras sob o critério de notas de funcionalidade de cada OAE estabelecido pela norma NBR 9452/19, a saber:
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1000px;">
                        <img src="/imagens/conservas/content/img-2.PNG" name="graphics54" align="BOTTOM" width="3100" height="1700" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Dentro dos critérios desenvolvidos para o SIGOA que, estão diretamente relacionados às notas da Tabela 1 (que serão atribuídas anualmente pelas suas equipes de Inspeções Rotineiras de OAEs), foram estabelecidos ações e prazos que deverão demandar serviços de Conserva por parte do SAC como pode ser verificado na Tabela 2 sequencialmente apresentada:
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1000px;">
                        <img src="/imagens/conservas/content/img-3.PNG" name="graphics54" align="BOTTOM" width="3100" height="1700" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Apresenta-se a seguir apenas os itens que poderão indicar um serviço de conserva . Estes itens terão uma estimativa de quantidade, e quando a OS de Inspeção Rotineira for encerrada, a Regional será alertada pelo sistema através de um e-mail.

                                A Tabela de Variáveis para Inspeção Rotineira completa pode ser consultada no Anexo 2 do Manual de Inspeção (RT-CT0205072-000.000-000-C09/018) e está reproduzida no item 10.5.1 - Cadastro de Ordem de Serviço de Inspeção Cadastral e Primeira Rotineira.
                            </font>
                        </font>
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                <strong>
                                    Tabela de Variáveis com indicação de Serviços de Conserva na Inspeção Rotineira
                                </strong>
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1000px;">
                        <img src="/imagens/conservas/content/img-4.PNG" name="graphics54" align="BOTTOM" width="3100" height="1700" border="0">
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-5.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-6.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-7.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -826px;">
                        <img src="/imagens/conservas/content/img-9.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-10.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-11.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-12.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-13.PNG" name="graphics54" align="BOTTOM" width="2500" height="3000" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -762px;">
                        <img src="/imagens/conservas/content/img-14.PNG" name="graphics54" align="BOTTOM" width="2400" height="600" border="0">
                    </p>

                    <br><br><br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                9.1 Tipos de Conserva
                            </font>
                        </font>
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Primeiro item do módulo de Conservas
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="/imagens/conservas/content/img-15.png" name="graphics54" align="BOTTOM" width="1100" height="1100" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A tela Tipos de Conserva apresenta os tipos cadastrados:
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -900px;">
                        <img src="/imagens/conservas/content/img-16.png" name="graphics54" align="BOTTOM" width="2900" height="1300" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Nesta tela o usuário poderá:
                            </font>
                        </font>
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Editar - será apresentada a tela de Edição
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -900px;">
                        <img src="/imagens/conservas/content/img-17.png" name="graphics54" align="BOTTOM" width="2900" height="1300" border="0">
                    </p>
                    <br>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Desativar o tipo selecionado. Será apresentada uma mensagem de confirmação:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -900px;">
                        <img src="/imagens/conservas/content/img-18.png" name="graphics54" align="BOTTOM" width="2900" height="1300" border="0">
                    </p>
                    <br>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Excluir o tipo selecionado. Será apresentada uma mensagem de confirmação:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -900px;">
                        <img src="/imagens/conservas/content/img-20.png" name="graphics54" align="BOTTOM" width="2900" height="1300" border="0">
                    </p>
                    <br>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Criar um novo Tipo de Conserva. O usuário deverá inserir um código e uma descrição para o novo tipo:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -900px;">
                        <img src="/imagens/conservas/content/img-21.png" name="graphics54" align="BOTTOM" width="2900" height="1300" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Observação: Todos os tipos de Conserva previstos, estarão cadastrados ao ser implantado o sistema.
                            </font>
                        </font>
                    </p>
                    <br><br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                9.2 Política de Conserva
                            </font>
                        </font>
                    </p>
                    <br><br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Primeiro item do módulo de Conservas
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;">
                        <img src="/imagens/conservas/content/img-22.png" name="graphics54" align="BOTTOM" width="800" height="600" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A Política de Conserva no sistema reflete os itens que pelo Manual de Inspeção (RT-CT0205072-000.000-000-C09/018) deverão ser quantificados e notificados. (itens em verde com indicação (**) na tabela de Variáveis apresentada no item 9).
                                <br>
                                Na parte superior da tela Política de Conserva, são apresentados os filtros Conserva, Grupo de Objetos e Variáveis de Inspeção, para permitir ao usuário restringir o número de registros que serão apresentados no grid abaixo.
                                <br>
                                O usuário poderá inserir filtros e clicar no botão  para visualizar apenas os registros que atendam os critérios estabelecidos.
                                <br>
                                Para limpar os filtros de forma a exibir todos os registros cadastrados, basta clicar no botão.
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%; margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-23.png" name="graphics54" align="BOTTOM" width="2600" height="2000" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Conforme indicado na figura anterior, na parte inferior são exibidas as informações de Página atual, Número de Páginas, quantidade de registro exibido por página e o botão.
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%; margin-left: -110px;">
                        <img src="/imagens/conservas/content/img-24.png" name="graphics54" align="BOTTOM" width="1300" height="800" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                O usuário poderá :
                                <br>
                                passar para a próxima página clicando no botão
                                <br>
                                ir para a última página clicando no botão
                                <br>
                                passar para a página anterior clicando no botão
                                <br>
                                ir para a primeira página clicando no botão
                                <br>
                                alterar o número de registros exibidos selecionando uma das opções apresentadas
                                <br>
                                Criar uma Nova Política de Conserva clicando no botão
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%; margin-left: -800px;">
                        <img src="/imagens/conservas/content/img-25.png" name="graphics54" align="BOTTOM" width="2600" height="2000" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A partir do Grupo de Objetos selecionado, serão listados as Variáveis para que o usuário indique a variável, o alerta e o serviço de conserva.
                                <br><br><br>
                                Observação: Toda a Política de Conserva definida pela Engenharia do DER, já estará cadastrada quando o sistema for implantado.
                            </font>
                        </font>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>