
@{
    ViewBag.Title = "Documentos";
}


<link rel="stylesheet" type="text/css" href="~/imagens/documentos/css/style.css">

<script src="~/imagens/documentos/css/style.css"></script>
<style>
    p {
        margin: revert;
    }
</style>
<div id="page-container">
    <div id="pf31" class="pf w0 h0" data-page-no="31" style="text-align: center;">
        <div class="pc pc3 w0 h0 opened">

            <div class="modulo">
                <div class="t m1 x1 h4 y1b ff2 fs1 fc1 sc0 ls6 ws0">

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13. Módulo Documentos
                            </font>
                        </font>
                    </p>
                </div>
                <div class="t m1 x16 h4 y1b ff2 fs1 fc1 sc0 ls0 ws0" style="margin-top: -150px;">
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="/imagens/documentos/content/img-1.png" name="graphics54" align="BOTTOM" width="900" height="700" border="0">
                    </p>
                    <br>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13.1 Cadastro de Documentos
                            </font>
                        </font>
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Primeiro item do Módulo de Documentos:
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="/imagens/documentos/content/img-2.png" name="graphics54" align="BOTTOM" width="900" height="700" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -910px;width: 3000px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Para realizar a gestão de uma OAE, os documentos relativos às obras de arte deverão estar cadastrados e associados ao objeto obra de arte.
                                <br>
                                Da mesma forma, todos os documentos gerados como produtos das ordens de serviço, sejam desenhos, relatórios de inspeção, projetos,etc. deverão estar cadastrados e associados às obras de arte e à ordem de serviço.
                                <br>
                                O DER possui um grande acervo de documentos de obras de arte. Numa análise preliminar dos arquivos utilizados pelo atual SIGOA, identificou-se que a maioria dos documentos não estão codificados segundo a Instrução "IP-DE-A00-002_C - CODIFICAÇÃO DE DOCUMENTOS TÉCNICOS". Entretanto, estes arquivos estão armazenados em pastas estruturadas e nomeadas com a denominação da rodovia e subpastas nomeadas com a quilometragem da Obra de Arte. Desta forma, existe a possibilidade de, com um certo esforço, adequar a nomenclatura existente à codificação preconizada no IP acima mencionado.
                                <br>
                                A importação destes documentos e associação à Obra de Arte poderá ser feita em lote na fase de implantaçãodo sistema.
                                <br>
                                O sistema está preparado para fazer a recodificação dos documentos que não estejam com a nomenclatura aderente à instrução. Esta recodificação deverá ser feita, como uma das atividades da Inspeção Cadastral.
                                <br>
                                Na parte superior da tela Cadastro de Documentos, são apresentados os filtros Código, Descrição, Classe e Tipo para permitir ao usuário restringir o número de registros que serão apresentados no grid abaixo.
                                <br>
                                O usuário poderá inserir filtros e clicar no botão  para visualizar apenas os registros que atendam os critérios estabelecidos.
                                <br>
                                Para limpar os filtros de forma a exibir todos os registros cadastrados, basta clicar no botão.
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1000px;">
                        <img src="/imagens/documentos/content/img-3.png" name="graphics54" align="BOTTOM" width="3100" height="1700" border="0">
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -910px;width: 3000px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Na parte inferior são exibidas as informações de Página atual, Número de Páginas, quantidade de registro exibido por página e os botões
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1000px;">
                        <img src="/imagens/documentos/content/img-4.png" name="graphics54" align="BOTTOM" width="3100" height="900" border="0">
                    </p>

                    <br>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -910px;width: 3000px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13.1.1. Cadastrando um Documento
                            </font>
                        </font>
                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -910px;width: 3000px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Para cadastrar um documento, clicar no botão e preencher os dados da tela Novo Documento.
                                <br>
                                Esta tela segue as instruções do documento IP-DE-A00-002_C - CODIFICAÇÃO DE DOCUMENTOS TÉCNICOS que institui uma regra de codificação para documentos técnicos gerais e outra regra para documentos técnicos específicos.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-5.png" name="graphics54" align="BOTTOM" width="2600" height="3300" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A regra de codificação é apresentada em vermelho na parte superior da tela.
                                <br>
                                Selecionando um dos tipos de documento técnico específico, a nova regra de codificação é apresentada conforme figura abaixo:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-6.png" name="graphics54" align="BOTTOM" width="2600" height="3300" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Serão apresentadas as pastas do servidor e uma vez selecionada uma pasta, serão listados os documentos desta pasta na parte inferior para que seja selecionado o arquivo
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-7.png" name="graphics54" align="BOTTOM" width="2600" height="1900" border="0">
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/documentos/content/img-8.png" name="graphics54" align="BOTTOM" width="2600" height="2000" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Caso o arquivo esteja na sua máquina local, clicar no botão  no item "Ou Fazer Upload e Associar - De".
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-9.png" name="graphics54" align="BOTTOM" width="2600" height="3300" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Será apresentado as pastas do seu computador para que seja localizado o arquivo de interesse.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-10.png" name="graphics54" align="BOTTOM" width="2600" height="3300" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Em seguida, clicar no botão  no item "Ou Fazer Upload e Associar - Para".
                                <br>
                                Será apresentada a lista de pastas do servidor para que seja indicada a pasta ou criar uma nova pasta no servidor.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -730px;">
                        <img src="/imagens/documentos/content/img-11.png" name="graphics54" align="BOTTOM" width="2600" height="2000" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Por fim, clicar em Upload e em Salvar.
                                <br>
                                O documento será apresentado no grid da tela de Cadastro de Documentos.
                            </font>
                        </font>
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13.1.2 Associando um Documento a um Objeto.
                            </font>
                        </font>
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Para associar um documento a um objeto, selecionar o documento no grid e clicar em Associar Documento a Objeto.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1100px;">
                        <img src="/imagens/documentos/content/img-12.png" name="graphics54" align="BOTTOM" width="3300" height="1700" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Digitando o código da rodovia será exibida a lista de objetos desta rodovia, para que seja selecionada a obra de arte de interesse
                                <br>
                                Uma vez selecionada a obra de arte, clicar em Associar.
                            </font>
                        </font>
                    </p>

                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -930px;">
                        <img src="/imagens/documentos/content/img-13.png" name="graphics54" align="BOTTOM" width="2900" height="1700" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A lista de objetos associados ao documento selecionado é apresentada abaixo do grid com a relação de documentos cadastrados, conforme indica a figura a seguir:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1200px;">
                        <img src="/imagens/documentos/content/img-14.png" name="graphics54" align="BOTTOM" width="3400" height="1700" border="0">
                    </p>

                    <br> <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13.1.3 Associando um Documento a uma Ordem de Serviço
                            </font>
                        </font>
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Para associar um documento a uma ordem de serviço, selecionar o documento no grid e clicar em Associar Documento O.S.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1200px;">
                        <img src="/imagens/documentos/content/img-15.png" name="graphics54" align="BOTTOM" width="3400" height="1700" border="0">
                    </p>

                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Para facilitar a localização da ordem de serviço de interesse, existem os filtros: Código O.S., Código Objeto e Tipo de Ordem de Serviço.
                                <br>
                                Inserindo o filtro desejado, e clicando no botão Pesquisar serão listadas as OS's que atendem o critério pesquisado. Selecionar a OS de interesse e clicar em Associar.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1200px;">
                        <img src="/imagens/documentos/content/img-16.png" name="graphics54" align="BOTTOM" width="3400" height="1700" border="0">

                    </p>
                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                A Ordem de Serviço associada ao documento será apresentada conforme indica a figura a seguir:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -1200px;">
                        <img src="/imagens/documentos/content/img-16.png" name="graphics54" align="BOTTOM" width="3400" height="2700" border="0">
                    </p>

                    <br><br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 150px;">
                                13.2 Classes de Projeto
                            </font>
                        </font>
                    </p>


                    <br>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Segundo item do Módulo Documentos:
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%">
                        <img src="/imagens/documentos/content/img-17.png" name="graphics54" align="BOTTOM" width="900" height="700" border="0">
                    </p>
                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Esta tela lista as classes de Projeto previstas na instrução IP-DE-A00-002_C - CODIFICAÇÃO DE DOCUMENTOS TÉCNICOS.
                                <br>
                                A Classe de Projeto corresponde ao 3º Nível do Grupo 1 dos Documentos Técnicos Específicos.
                            </font>
                        </font>
                    </p>
                    <p class="western" align="CENTER" style="margin-bottom: 0.11in; font-weight: normal; line-height: 107%;margin-left: -780px;">
                        <img src="/imagens/documentos/content/img-18.png" name="graphics54" align="BOTTOM" width="2600" height="2000" border="0">
                    </p>

                    <p class="western" style="margin-bottom: 0.11in; font-weight: normal; margin-left: -1200px;width: 3500px;">
                        <font face="Open Sans, serif">
                            <font size="2" style="font-size: 90px;">
                                Observação: Todas as Classes de Projeto previstas na instrução IP-DE-A00-002_C - CODIFICAÇÃO DE DOCUMENTOS TÉCNICOS já estarão cadastradas na implantação do sistema.
                            </font>
                        </font>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

