
@{
    ViewBag.Title = "::.. PoliticaConserva ..::";
}

@using WebApp.Models



<script src="~/Scripts/Base.js"></script>
<script src="~/Scripts/ReparoTpu/tpu.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    var selectedId_obj_id;

    function btnOSInserir_onclick() {

        $("#modalSalvarRegistro").modal('show');

    }

</script>

<style>
    .element.style {
        padding-left: 5px;
    }
</style>

<section class="content" style="min-height: 50px;">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <h1 id="titulo"></h1>
                <div id="DivGrid">
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <input type="hidden" id="rtu_id" />
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"><b><label id="lblModalHeader">Novo Reparo TPU</label></b></h3>
            </div>
            <form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
                <br />
                <div class="modal-body form-group">
                    <div class="col-sm-12">
                        <div id="Ficha2_divSubdivisao1" class="form-group">
                            <label class="control-label col-sm-3">Reparo:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="reparo_ad">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Fonte TPU:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="fonte_ad" onchange="verifica()">
                                    <option value="0">Selecione a fonte</option>
                                    <option value="2">Maubertec</option>
                                    <option value="1">DER</option>
                                    <option value="3">EXTERNA</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="codDer" style="display:none">
                            <label class="control-label col-sm-3">Fonte TXT:</label>
                            <div class="col-sm-8">
                                <input type="text" id="fonteTxt_ad" placeholder="Fonte" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Data Base:</label>
                            <div class="col-sm-8">
                                <input type="text" id="data_ad" placeholder="Codigo" class="form-control" maxlength="10" onBlur="Intergracao()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Código:</label>
                            <div class="col-sm-8">
                                <input type="text" id="codigo_ad" placeholder="Codigo" class="form-control" onBlur="Intergracao()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Preço Unitário:</label>
                            <div class="col-sm-8">
                                <input type="text" id="preco_ad" placeholder="" class="form-control" onKeyPress="return(moeda(this,'.',',',event))" />
                            </div>
                        </div>

                        <hr style="width:100%" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3 col-md-offset-4">
                        <a onclick="EditarTpu()" class="btn btn-primary btn-block btn-flat">Salvar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<link href="~/Content/Gerais.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/plugins/sweetalert2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>

<script>
    moment.locale('pt-br');         // pt-br
    $.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');

    jQuery(function ($) {
        $.datepicker.regional['pt-BR'] = datepicker_regional;
        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
    });

    $('#data_ad').datepicker({
        dateFormat: 'dd/mm/yy',
        onSelect: function () {
            var dt2 = $('#filtroord_data_Ate');

            // seta a data inicial do txtdataExecucaoAte
            var startDate = $(this).datepicker('getDate');
            startDate.setDate(startDate.getDate() + 1);
            var minDate = $(this).datepicker('getDate');
            var dt2Date = dt2.datepicker('getDate');

            dt2.datepicker("setDate", startDate);
            dt2.datepicker('option', 'minDate', startDate);
        }
    });
</script>
