
@model List<WebApp.Models.Usuario>
@using WebApp.Models
@{

    //Verifica se o usuário esta logado
    if (Session["Usuario"] == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 830 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

    Usuario gUsuario = (Usuario)Session["Usuario"];
    List<UsuarioPermissoes> lstPermissoes = gUsuario.lstUsuarioPermissoes;
    UsuarioPermissoes permissoesDesteModulo = lstPermissoes.Find(x => x.mod_id.Equals(830)); // 810 = id DO MODULO "IntegracaoSIRGeo"
    if (permissoesDesteModulo == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 830 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

    UsuarioPermissoes permissoesConfiguracaoAtributos = lstPermissoes.Find(x => x.mod_id.Equals(830)); // acha permissoes para Configuracao
    if (permissoesConfiguracaoAtributos == null)
    {
        permissoesConfiguracaoAtributos = new UsuarioPermissoes();
        permissoesConfiguracaoAtributos.mfl_leitura = 0;
        permissoesConfiguracaoAtributos.mfl_escrita = 0;
        permissoesConfiguracaoAtributos.mfl_inserir = 0;
        permissoesConfiguracaoAtributos.mfl_excluir = 0;
    }

}

<h2></h2>

<form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
    @{
        ViewBag.Title = "::.. Integração SIRGeo - Rodovias ..::";
    }
</form>


<div style="width:100%;" id="divRodovias">
    <div class="box box-primary">
        <div class="box-body">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Rodovia</label>
                    <input type="text" class="form-control" id="txtCodRodovia" maxlength="50" onkeydown="if (event.keyCode == 13) { ExecutarRodovia(); }">
                </div>
                <div>
                    <div class="btn-box-tool pull-right" style="margin-top:10px">
                        <button type="reset" class="btn btn-info" onclick="LimparFiltro();"><i class="fa fa-eraser margin-r-5"></i> Limpar</button>
                        <button type="submit" class="btn btn-primary" onclick="ExecutarFiltro();" style="margin-right: 10px !important;"><i class="fa fa-search margin-r-5"></i> Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-info" onclick="sincronizar();"><i class="fa fa-eraser margin-r-5"></i>Sincronizar</button>

<section class="content" style="min-height: 50px;">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <label class="control-label">Rodovias</label>
                <table id="tblRodovias">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Km Inicial</th>
                            <th>Km Final</th>
                            <th>Extensão</th>
                        </tr>
                    </thead>
                </table>

                <br /><br /><br />
                <label class="control-label">Sentido Rodovias</label>
                <table id="tblSentidoRodovia">
                    <thead>

                        <tr>
                            <th>Id</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                </table>

                <br /><br /><br />
                <label class="control-label">OAEs</label>
                <table id="tblOAEs">
                    <thead>
                        <tr>
                            <th>rod_id</th>
                            <th>Km Inicial</th>
                            <th>Km Final</th>
                            <th>sen_id</th>
                            <th>reg_id</th>
                            <th>oae_data_levantamento</th>
                            <th>Extensão</th>
                            <th>oat_id</th>
                            <th>Data Criação</th>
                        </tr>
                    </thead>
                </table>

                <br /><br /><br />
                <label class="control-label">Tipos OAE</label>
                <table id="tblTiposOAE">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                </table>

                <br /><br /><br />
                <label class="control-label">Regionais</label>
                <table id="tblRegionais">
                    <thead>
                        <tr>
                            <th>reg_id</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Logradouro</th>
                            <th>Bairro</th>
                            <th>CEP</th>
                            <th>Email</th>
                            <th>DDD</th>
                            <th>Telefone</th>
                            <th>DDD CCO</th>
                            <th>Telefone CCO</th>
                            <th>DDD Fax</th>
                            <th>Fax</th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
        @*</div>*@
    </div>
</section>


<style>
    .Centralizado {
        text-align: center;
    }
</style>

<link href="~/Content/Gerais.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/plugins/sweetalert2.min.js"></script>

@section Scripts{
    <script>
        var permissaoLeitura = parseInt(@permissoesDesteModulo.mfl_leitura);
        var permissaoEscrita = parseInt(@permissoesDesteModulo.mfl_escrita);
        var permissaoInsercao = parseInt(@permissoesDesteModulo.mfl_inserir);
        var permissaoExclusao = parseInt(@permissoesDesteModulo.mfl_excluir);
    </script>


}

<script src="~/Scripts/Base.js"></script>


<script>

    function sincronizar() {
       $.ajax({
            type: 'POST',
           // "data": { qualFicha: qualFicha },
           url: '/Integracao/Sincronizar',
           data: { "forcar_atualizacao": 1},
            success: function (result) {
                //$('#tblRodovias').DataTable().ajax.reload(false);
                //$('#tblRegionais').DataTable().ajax.reload(false);
                alert(result.erroId);
            }
        });

    }

    function LimparFiltro() {

        $('#txtCodRodovia').val('');
        $('#tblRodovias').DataTable().ajax.reload();  //false = sem reload na pagina.
        return false;
    }

    function ExecutarFiltro() {
        $('#tblRodovias').DataTable().ajax.reload();  //false = sem reload na pagina.
        return false;
    }


    // montagem do gridview
    $(document).ready(function () {

        $('#tblRodovias').DataTable({
            "ajax": {
                "url": "/Integracao/Integracao_Rodovias_ListAll",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.rod_Codigo = $('#txtCodRodovia').val().trim();
                }
            }
            , "columns": [
                { data: "rod_id", "className": "Centralizado", "searchable": false },
                { data: "rod_codigo", "width": "200px", "searchable": false },
                { data: "rod_descricao", "autoWidth": true, "searchable": false },
                { data: "rod_km_inicial", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "rod_km_final", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "rod_km_extensao", "className": "Centralizado", "width": "80px", "searchable": false }
            ]
            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'

            , "createdRow": function (row, data, dataIndex) {
                if (parseInt(data.rod_codigo) == -1) {
                    swal({
                        type: 'error',
                        title: 'Erro',
                        text: data.rod_descricao
                    }).then(
                        function () {
                            return false;
                        });

                }
            }

        });

        $('#tblSentidoRodovia').DataTable({
            "ajax": {
                "url": "/Integracao/Integracao_SentidoRodovias_ListAll",
                "type": "GET",
                "datatype": "json"
            }
            , "columns": [
                { data: "sen_id", "className": "Centralizado", "searchable": false },
                { data: "sen_descricao", "autoWidth": true, "searchable": false }
            ]
            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'

            , "createdRow": function (row, data, dataIndex) {
                if (parseInt(data.rod_descricao) == -1) {
                    swal({
                        type: 'error',
                        title: 'Erro',
                        text: data.sen_descricao
                    }).then(
                        function () {
                            return false;
                        });

                }
            }

        });


        $('#tblOAEs').DataTable({
            "ajax": {
                "url": "/Integracao/Integracao_OAEs_ListAll",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.rod_id = $('#txtCodRodovia').val().trim();
                }
            }
            , "columns": [
                { data: "rod_id", "className": "Centralizado", "searchable": false },
                { data: "oae_km_inicial", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "oae_km_final", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "sen_id", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "reg_id", "width": "200px", "searchable": false },
                { data: "oae_data_levantamento", "autoWidth": true, "searchable": false },
                { data: "oae_extensao", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "oat_id", "className": "Centralizado", "searchable": false },
                { data: "oae_data_criacao", "className": "Centralizado", "searchable": false }
            ]
            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'

            , "createdRow": function (row, data, dataIndex) {
                if (parseInt(data.rod_codigo) == -1) {
                    swal({
                        type: 'error',
                        title: 'Erro',
                        text: data.rod_descricao
                    }).then(
                        function () {
                            return false;
                        });

                }
            }

        });

        $('#tblRegionais').DataTable({
            "ajax": {
                "url": "/Integracao/Integracao_Regionais_ListAll",
                "type": "GET",
                "datatype": "json"

                //,"data": function (d) {
                //    d.rod_id = $('#txtCodRodovia').val().trim();
                //}
            }

            , "columns": [
                { data: "reg_id", "className": "Centralizado", "searchable": false },
                { data: "reg_codigo", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "reg_descricao", "className": "Centralizado", "width": "150px", "searchable": false },
                { data: "reg_logradouro", "className": "Centralizado", "autoWidth": true, "searchable": false },
                { data: "reg_bairro", "className": "Centralizado", "width": "140px", "searchable": false },
                { data: "reg_cep", "width": "30px", "searchable": false },
                { data: "reg_email", "className": "Centralizado", "width": "150px", "searchable": false },
                { data: "reg_ddd_telefone", "className": "Centralizado", "width": "20px", "searchable": false },
                { data: "reg_telefone", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "reg_ddd_telefone_cco", "className": "Centralizado", "width": "20px", "searchable": false },
                { data: "reg_telefone_cco", "className": "Centralizado", "width": "80px", "searchable": false },
                { data: "reg_ddd_fax", "className": "Centralizado", "width": "20px", "searchable": false },
                { data: "reg_fax", "className": "Centralizado", "width": "80px", "searchable": false }
            ]
            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'

            , "createdRow": function (row, data, dataIndex) {
                if (parseInt(data.rod_codigo) == -1) {
                    swal({
                        type: 'error',
                        title: 'Erro',
                        text: data.rod_descricao
                    }).then(
                        function () {
                            return false;
                        });

                }
            }

        });

        $('#tblTiposOAE').DataTable({
            "ajax": {
                "url": "/Integracao/Integracao_TiposOAE_ListAll",
                "type": "GET",
                "datatype": "json"
            }
            , "columns": [
                { data: "oat_id", "className": "Centralizado", "searchable": false },
                { data: "oat_descricao", "autoWidth": true, "searchable": false }
            ]
            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'

            , "createdRow": function (row, data, dataIndex) {
                if (parseInt(data.oat_descricao) == -1) {
                    swal({
                        type: 'error',
                        title: 'Erro',
                        text: data.oat_descricao
                    }).then(
                        function () {
                            return false;
                        });

                }
            }

        });

    });


</script>

