

@model List<WebApp.Models.Usuario>
@using WebApp.Models
@{

    //Verifica se o usuário esta logado
    if (Session["Usuario"] == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 160 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

    Usuario gUsuario = (Usuario)Session["Usuario"];
    List<UsuarioPermissoes> lstPermissoes = gUsuario.lstUsuarioPermissoes;
    UsuarioPermissoes permissoesDesteModulo = lstPermissoes.Find(x => x.mod_id.Equals(160)); // 160 = id DO MODULO
    if (permissoesDesteModulo == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 160 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

}

<h2></h2>

<form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">

    @Html.Partial("~/Views/Shared/_ObjPriorizacao.cshtml")

</form>
