
@{
    ViewBag.Title = "Anomalia";
}

<style type="text/css">

    h1 {
        margin-bottom: .0001pt;
        font-size: 23.0pt;
        font-family: "Open Sans",sans-serif;
        color: #404040;
        letter-spacing: -1.0pt;
        margin-left: 0cm;
        margin-right: 0cm;
        margin-top: 0cm;
    }

    p.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 0cm;
        line-height: 107%;
        font-size: 10.5pt;
        font-family: "Open Sans",sans-serif;
        color: #262626;
    }

    p.P-Normal {
        margin: 4.0pt 0cm;
        text-align: justify;
        line-height: 15.0pt;
        font-size: 11.0pt;
        font-family: "Arial",sans-serif;
    }

    .auto-style1 {
        width: 227px;
        height: 216px;
    }

    .auto-style2 {
        width: 220px;
        height: 167px;
    }

    .auto-style3 {
        width: 654px;
        height: 463px;
    }

    .auto-style4 {
        width: 661px;
        height: 225px;
    }

    .auto-style5 {
        width: 220px;
        height: 208px;
    }

    .auto-style6 {
        width: 605px;
        height: 184px;
    }

    .auto-style7 {
        width: 605px;
        height: 187px;
    }

    .auto-style8 {
        width: 225px;
        height: 218px;
    }

    .auto-style9 {
        width: 647px;
        height: 125px;
    }

    .auto-style10 {
        width: 212px;
        height: 213px;
    }

    .auto-style11 {
        width: 669px;
        height: 120px;
    }

    .auto-style12 {
        width: 225px;
        height: 220px;
    }

    .auto-style13 {
        width: 659px;
        height: 114px;
    }

    .auto-style14 {
        width: 618px;
        height: 489px;
    }

    .auto-style15 {
        font-size: xx-large;
    }

    .auto-style16 {
        text-align: center;
    }

    .auto-style17 {
        font-size: x-large;
    }
</style>

<div>
    <div class="auto-style16">
        <span class="auto-style15">Manual - Anomalias</span><br class="auto-style15" />


    </div>

    <div>
        <ul>
            <li>
                <span class="auto-style17">
                    <a href="#legenda">1.1 Legendas</a>
                </span>
            </li>
            <li>
                <span class="auto-style17">
                    <a href="#tipos">1.2 Tipos de Anomalia</a>
                </span>
            </li>
            <li>
                <span class="auto-style17">
                    <a href="#causa">1.3 Causas</a>
                </span>
            </li>
            <li>
                <span class="auto-style17">
                    <a href="#alerta">1.4 Níveis de Alerta</a>
                </span>
            </li>
            <li>
                <span class="auto-style17">
                    <a href="#status">1.5 Status</a>
                </span>
            </li>
            <li>
                <span class="auto-style17">
                    <a href="#fluxostatus">1.6 Fluxo de Status</a>
                </span>
            </li>

        </ul>
    </div>
    <div style="height:30px"></div>
    <h1 style="margin-left:18.0pt;text-align:justify;text-indent:-18.0pt;
mso-list:l0 level1 lfo1">
        <a name="_Toc69226173"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Módulo de Anomalias</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        O módulo de Anomalias pode ser acessado no menu lateral <span style="mso-fareast-language:PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shapetype id="_x0000_t75"
                         coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
                         filled="f" stroked="f">
                <v:stroke joinstyle="miter" xmlns:v="urn:schemas-microsoft-com:vml" />
              
                <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect" xmlns:v="urn:schemas-microsoft-com:vml" />
                <o:lock v:ext="edit" aspectratio="t" xmlns:o="urn:schemas-microsoft-com:office:office" />
            </v:shapetype><v:shape id="Imagem_x0020_1" o:spid="_x0000_i1039" type="#_x0000_t75"
                                   style='width:170.25pt;height:159.75pt;visibility:visible;mso-wrap-style:square'>
 
            </v:shape>
        </span><o:p></o:p>
        <img alt="anomalia" class="auto-style1" src="~/imagens/anomalias/menu_anomalia.png" />
    </p>
    <h1 id="legenda" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226174"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Legendas</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        Primeiro item do módulo de Anomalias <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_4"
                     o:spid="_x0000_i1038" type="#_x0000_t75" style='width:165pt;height:124.5pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image002.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="legenda" class="auto-style2" src="~/imagens/anomalias/legenda.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Os tipos de Anomalias são agrupados em Legendas. Para o sistema a legenda é a sigla que antecede o número indicativo do tipo da anomalia (por exemplo F para fissuras). <o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Para cada Legenda estão definidos símbolos e hachuras para identificação destas anomalias nos croquis que são apresentados nos Relatórios de Inspeção como um dos produtos da inspeção.<o:p></o:p>
    </p>

    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="_x0000_i1036" type="#_x0000_t75" style='width:495.75pt;
 height:168.75pt;visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image004.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="listaleg" class="auto-style4" src="~/imagens/anomalias/listaLegenda.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">Observação: Todas as Legendas previstas já estarão carregadas ao ser implantado o sistema.<o:p></o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <o:p>&nbsp;</o:p>
    </p>
    <span style="font-size:10.5pt;mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#262626;mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
        <br clear="all" style="mso-special-character:line-break;page-break-before:
always" />
    </span>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <o:p>&nbsp;</o:p>
    </p>
    <h1 id="tipos" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226175"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Tipos de Anomalia</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        Segundo item do módulo de Anomalias <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_7"
                     o:spid="_x0000_i1035" type="#_x0000_t75" style='width:164.25pt;height:156pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image005.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="tipo" class="auto-style5" src="~/imagens/anomalias/tipos.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Para cada Legenda de Anomalia, são definidos os Tipos das Anomalias.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_22" o:spid="_x0000_i1034"
                     type="#_x0000_t75" style='width:453pt;height:138pt;visibility:visible;
 mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image006.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="tipolis" class="auto-style6" src="~/imagens/anomalias/tiposLista.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">Observação: Assim como as Legendas, todos os tipos de Anomalias estarão todos cadastrados quando o sistema for implantado.<o:p></o:p></b>
    </p>
    <span style="font-size:10.5pt;mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#262626;mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
        <br clear="all" style="mso-special-character:line-break;page-break-before:
always" />
    </span>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <b style="mso-bidi-font-weight:normal">
            <span style="font-size:23.0pt;
mso-bidi-font-size:28.0pt;color:#404040;letter-spacing:-1.0pt;mso-font-width:
95%;mso-font-kerning:14.0pt"><o:p>&nbsp;</o:p></span>
        </b>
    </p>
    <h1 id="causa" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226176"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Causas</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        O Terceiro item do módulo de Anomalias <span style="mso-fareast-language:PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_10"
                     o:spid="_x0000_i1033" type="#_x0000_t75" style='width:165pt;height:156pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image007.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="causas" class="auto-style5" src="~/imagens/anomalias/causas.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Para cada Legenda de Anomalia, são definidas as Causas prováveis para a anomalia detectada.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_25" o:spid="_x0000_i1032"
                     type="#_x0000_t75" style='width:453.75pt;height:140.25pt;visibility:visible;
 mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image008.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="clis" class="auto-style7" src="~/imagens/anomalias/causasListas.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal"><o:p>&nbsp;</o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">Observação: As Causas de Anomalias também estarão cadastradas quando o sistema for implantado.<o:p></o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal"><o:p>&nbsp;</o:p></b>
    </p>
    <span style="font-size:10.5pt;mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#262626;mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
        <br clear="all" style="mso-special-character:line-break;page-break-before:
always" />
    </span>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <b style="mso-bidi-font-weight:normal">
            <span style="font-size:23.0pt;
mso-bidi-font-size:28.0pt;color:#404040;letter-spacing:-1.0pt;mso-font-width:
95%;mso-font-kerning:14.0pt"><o:p>&nbsp;</o:p></span>
        </b>
    </p>
    <h1 id="alerta" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226177"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Níveis de Alerta</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        Quarto item do módulo de Anomalias <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_13"
                     o:spid="_x0000_i1031" type="#_x0000_t75" style='width:168.75pt;height:163.5pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image009.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="alerta" class="auto-style8" src="~/imagens/anomalias/alertas.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Todas as Anomalias detectadas em uma inspeção, são classificadas quanto ao<span style="color:windowtext"> nível de criticidade</span> <span style="color:windowtext">aqui definido como </span>Nível de Alerta.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_28" o:spid="_x0000_i1030"
                     type="#_x0000_t75" style='width:486pt;height:96pt;visibility:visible;
 mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image010.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="alertalista" class="auto-style9" src="~/imagens/anomalias/alertasListas.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal"><o:p>&nbsp;</o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">Observação: Os Níveis de Alerta estabelecidos pela Engenharia estarão cadastradas quando o sistema for implantado.<o:p></o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal"><o:p>&nbsp;</o:p></b>
    </p>
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size:10.5pt;
mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#262626;
mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">
            <br clear="all" style="mso-special-character:line-break;page-break-before:always" />
        </span>
    </b>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <b style="mso-bidi-font-weight:normal"><o:p>&nbsp;</o:p></b>
    </p>
    <h1 id="status" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226178"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Status</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        Quinto item do módulo de Anomalias <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_16"
                     o:spid="_x0000_i1029" type="#_x0000_t75" style='width:161.25pt;height:159.75pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image011.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="status" class="auto-style10" src="~/imagens/anomalias/status.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Os Status previstos para as Anomalias são: Aguardando Reparo, Reparada e Superada.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_59" o:spid="_x0000_i1028"
                     type="#_x0000_t75" style='width:501.75pt;height:88.5pt;visibility:visible;
 mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image012.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="statuslista" class="auto-style11" src="~/imagens/anomalias/statusLista.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal"><o:p>&nbsp;</o:p></b>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">Observação: Quando uma OS de Inspeção Especial é encerrada, todas as Anomalias detectadas com indicação de Reparos, terão seus status preenchidos como &quot;Aguardando Reparo&quot; para que seja feito o acompanhamento do seu estado até que ela seja reparada.<o:p></o:p></b>
    </p>
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size:10.5pt;
mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#262626;
mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">
            <br clear="all" style="mso-special-character:line-break;page-break-before:always" />
        </span>
    </b>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <b style="mso-bidi-font-weight:normal"><o:p>&nbsp;</o:p></b>
    </p>
    <h1 id="fluxostatus" style="margin-left:39.6pt;text-align:justify;text-indent:-21.6pt;
mso-list:l0 level2 lfo1">
        <a name="_Toc69226179"><![if !supportLists]><span style="mso-fareast-font-family:&quot;Open Sans&quot;;mso-bidi-font-family:&quot;Open Sans&quot;"><span style="mso-list:Ignore">1.6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>Fluxo de Status</a><o:p></o:p>
    </h1>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        Sexto item do módulo de Anomalias <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes"><o:p></o:p></span>
    </p>
    <p align="center" class="MsoNormal" style="text-align: left">
        <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_19"
                     o:spid="_x0000_i1027" type="#_x0000_t75" style='width:171.75pt;height:165pt;
 visibility:visible;mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image013.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="fluxo" class="auto-style12" src="~/imagens/anomalias/fluxo.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Uma Anomalia Aguardando Reparo poderá ter o seu status atualizado para Reparada ou Superada.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-fareast-language:
PT-BR;mso-no-proof:yes">
            <v:shape id="Imagem_x0020_43" o:spid="_x0000_i1026"
                     type="#_x0000_t75" style='width:494.25pt;height:87.75pt;visibility:visible;
 mso-wrap-style:square'>
                <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image014.png"
                             o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
            </v:shape>
        </span><o:p></o:p>
        <img alt="flist" class="auto-style13" src="~/imagens/anomalias/fluxoLista.png" />
    </p>
    <p class="MsoNormal" style="text-align:justify">
        As Anomalias detectadas em uma Inspeção Especial, são associadas à OS de Inspeção Especial. Estes registros são transferidos para as OS&#39;s de Orçamento e na sequencia para as OS&#39;s de Reparo. <o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Os status das Anomalias vão sendo alterados, a medida que uma OS de Orçamento é aprovada ou uma OS de Reparo é aberta ou executada.<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Nestas ocasiões, o status na OS anterior (OS de Inspeção Especial no caso de uma OS de Orçamento aprovada, ou OS de Orçamento no caso de uma OS de Reparo Planejada) é atualizado para <b style="mso-bidi-font-weight:normal">SUPERADO</b>, e o dados são copiados para a próxima OS (OS de Orçamento ou OS de Reparo) com o status da anomalia como <b style="mso-bidi-font-weight:normal">AGUARDANDO REPARO</b>, até que a OS de Reparo seja executada e a anomalia seja reparada. <o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        Apresenta-se a seguir um Fluxograma com a indicação da atualização destes status nas OS&#39;s de Inspeção Especial, Orçamento e Reparo:<o:p></o:p>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        <b style="mso-bidi-font-weight:
normal">
            <span style="mso-fareast-language:PT-BR;mso-no-proof:yes">
                <v:shape id="Imagem_x0020_46" o:spid="_x0000_i1025" type="#_x0000_t75" style='width:452.25pt;
 height:366.75pt;visibility:visible;mso-wrap-style:square'>
                    <v:imagedata src="file:///C:\Users\jrlsa\AppData\Local\Temp\msohtmlclip1\01\clip_image015.png"
                                 o:title="" xmlns:v="urn:schemas-microsoft-com:vml" />
                </v:shape>
            </span><o:p></o:p>
        </b>
        <img alt="f_organ" class="auto-style14" src="~/imagens/anomalias/fluxoOrgan.png" />
    </p>
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size:10.5pt;
mso-bidi-font-size:11.0pt;font-family:&quot;Open Sans&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#262626;
mso-ansi-language:PT-BR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">
            <br clear="all" style="mso-special-character:line-break;page-break-before:always" />
        </span>
    </b>
    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal">
        <b style="mso-bidi-font-weight:normal"><o:p>&nbsp;</o:p></b>
    </p>
</div>

