@{
    ViewBag.Title = "::.. Módulos ..::";
}

@model List<WebApp.Models.Usuario>
@using WebApp.Models
@{
    //Verifica se o usuário esta logado
    if (Session["Usuario"] == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 1050 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

    Usuario gUsuario = (Usuario)Session["Usuario"];
    List<UsuarioPermissoes> lstPermissoes = gUsuario.lstUsuarioPermissoes;
    UsuarioPermissoes permissoesDesteModulo = lstPermissoes.Find(x => x.mod_id.Equals(1050)); // 1050 = id DO MODULO "MÓDULOS"
    if (permissoesDesteModulo == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 1050 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }
}


<section class="content" style="min-height: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table id="tblModulos">
                        <thead>
                            <tr>
                                <th class="hide_column">id</th>
                                <th class="hide_column">mod_pai_id</th>
                                <th>Módulo</th>
                                <th>Descrição</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="~/Content/Gerais.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/plugins/sweetalert2.min.js"></script>
<link href="~/Content/Base.css" rel="stylesheet" />


@section Scripts{
    <script>
        var permissaoLeitura = parseInt(@permissoesDesteModulo.mfl_leitura);
        var permissaoEscrita = parseInt(@permissoesDesteModulo.mfl_escrita);
        var permissaoInsercao = parseInt(@permissoesDesteModulo.mfl_inserir);
        var permissaoExclusao = parseInt(@permissoesDesteModulo.mfl_excluir);
    </script>
    <script src="~/Scripts/Modulo/Modulo.js"></script>

}


<div class="modal fade" id="modalSalvarRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-left:150px; width:550px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"><b><label id="lblModalHeader">Editar Módulo</label></b></h3>
            </div>
            <form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
                <br />
                <div class="modal-body form-group">

                    <div class="form-group" style="display:none;">
                        <label class="control-label col-sm-2" for="mod_id">ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtmod_id" placeholder="Id" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Módulo<span class="text-danger">*</span> </label>
                        <div class="col-sm-10">
                            <input id="txtmod_nome_modulo" name="txtmod_nome_modulo" class="form-control"
                                   placeholder="Módulo" data-val="true"
                                   data-val-required="Módulo" required
                                   maxlength="100"
                                   autocomplete="off"
                                   onblur="validaAlfaNumerico(this)"
                                   onkeyup="validaAlfaNumerico(this)" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Descrição<span class="text-danger">*</span> </label>
                        <div class="col-sm-10">
                            <input id="txtmod_descricao" name="txtmod_descricao" class="form-control"
                                   placeholder="Descrição" data-val="true"
                                   data-val-required="Descrição do Módulo" required
                                   maxlength="255" pattern=".{1,255}" title="1 a 255 caracteres"
                                   autocomplete="off"
                                   onblur="validaAlfaNumerico(this)"
                                   onkeyup="validaAlfaNumerico(this)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="mun_ativo">Ativo </label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="chkmod_ativo" style="margin-top: 10px;">
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <div class="col-md-3 col-md-offset-4">
                        <button id="bntSalvar" name="bntSalvar" onclick="return Modulo_Salvar();" class="btn btn-primary btn-block btn-flat">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

