

@{
    ViewBag.Title = "::.. Politica de Reparos ..::";
}

@using WebApp.Models

@*@{
        //Verifica se o usuário esta logado
        if (Session["Usuario"] == null)
        {
            Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 540 });
            Response.Redirect("~/AcessoNegado/AcessoNegado");
        }

        Usuario gUsuario = (Usuario)Session["Usuario"];
        List<UsuarioPermissoes> lstPermissoes = gUsuario.lstUsuarioPermissoes;
        UsuarioPermissoes permissoesDesteModulo = lstPermissoes.Find(x => x.mod_id.Equals(540)); // id DO MODULO "O.S."
        if (permissoesDesteModulo == null)
        {
            Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 540 });
            Response.Redirect("~/AcessoNegado/AcessoNegado");
        }
    }*@
@*@section Scripts{
        <script>
            var permissaoLeitura = parseInt(@permissoesDesteModulo.mfl_leitura);
            var permissaoEscrita = parseInt(@permissoesDesteModulo.mfl_escrita);
            var permissaoInsercao = parseInt(@permissoesDesteModulo.mfl_inserir);
            var permissaoExclusao = parseInt(@permissoesDesteModulo.mfl_excluir);
        </script>
        <script src="~/Scripts/Base.js"></script>
        <script src="~/Scripts/Shared/_PolitacaConserva.js"></script>
        <script src="~/Scripts/Politica/Politica.js"></script>
        <script>
            var selectedId_obj_id;

            function btnOSInserir_onclick() {

                $("#modalSalvarRegistro").modal('show');

            }

        </script>

    }*@


<div style="width:100%;" id="divFiltros">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Localizar</h3>
        </div>
        <div class="box-body">
            <div id="divcontroles" class="row" style="margin:3px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Reparo:</label>
                            <select name="cmbReparoAdd_in" id="cmbReparoAdd_in" class="form-control"
                                    onchange="cmbSub1Proximo_onchange()">
                                <option value="0-0" selected disabled>-- Selecione --</option>

                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <label class="control-label">Legenda:</label>
                                <select name="cmbSub2" id="cmdLegAdd_in" class="form-control" onchange="preencheAnomalia_in()">
                                    <option value="0-0">--Selecione--</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-3 ">
                            <div>
                                <label class="control-label">Cod. Anomalia:</label>
                                <select name="cmdCodAnomaliaAdd_in" id="cmdCodAnomaliaAdd_in" class="form-control" onchange="prencheAlCa()">
                                    <option value="0-0">--Selecione--</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Alerta:</label>
                            <select name="cmdAlertaAdd_in" id="cmdAlertaAdd_in" class="form-control" >
                                <option value="0-0">--Selecione--</option>
                                <option value="1-A">ATENÇÃO</option>
                                <option value="2-N">NORMAL</option>
                                <option value="3-C">CRÍTICO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="padding-top:20px; margin-top:20px">
                        <div class="col-sm-3">
                            <label class="control-label">Causa:</label>
                            <select name="cmdCausaAdd_in" id="cmdCausaAdd_in" class="form-control">
                                <option value="0-0">--Selecione--</option>
                               
                            </select>
                        </div>
                        <div class="btn-box-tool pull-right" style="margin-top:20px">
                            <button type="submit" class="btn btn-primary" onclick="Buscar();" style="margin-right: 10px !important;"><i class="fa fa-search margin-r-5"></i> Buscar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<section class="content" style="min-height: 50px;">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body" id="DivGrid">
                <table id="tblSubs" class="no-footer dataTable">
                    <thead>
                        <tr>
                            <th style="width:40px; text-align:center">Reparo</th>
                            <th style="width:70px; text-align:center">Legenda</th>
                            <th style="width:270px; text-align:center">Anomalia</th>
                            <th style="width:70px; text-align:center">Alerta</th>
                            <th style="text-align:center">Causa</th>
                            <th style="text-align:center">Opções</th>

                        </tr>
                    </thead>
                    <tbody id="GridHome">
                    </tbody>
                </table>
                @*@{
                if ((permissoesDesteModulo != null) && (permissoesDesteModulo.mfl_inserir > 0))
                {
                    <button type="button" class="btn btn-primary botaoInserir" onclick="btnOSInserir_onclick();">Nova Politica de Conserva</button>
                }
            }*@


            </div>
            <button type="button" class="btn btn-primary botaoInserir" onclick="OpenModalReparo();">Nova Politica de Reparo</button>
            <input type="hidden" id="hddnSelectedord_id" name="hddnSelectedord_id" value="-1" />
        </div>
    </div>
</section>

<div class="modal fade" id="modalNovo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"><b><label id="lblModalHeader">Nova Politica de Reparo</label></b></h3>
            </div>
            <form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
                <br />
                <div class="modal-body form-group">
                    <div class="col-sm-12">
                        <div id="Ficha2_divSubdivisao1" class="form-group">
                            <label class="control-label col-sm-3">Reparo</label>
                            <input type="hidden" id="cmbReparoUp" />
                            <div class="col-sm-8">
                                <select class="form-control" id="cmbReparoAdd" name="cmbReparoAdd"
                                        placeholder="Reparo">
                                    <option value="-1" selected disabled>-- Selecione --</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="rpp_id_up" />
                        <hr style="width:100%" />
                        <div class="form-group">
                            <label class="control-label col-sm-3">Legenda</label>
                            <input type="hidden" id="cmdLegUp" />
                            <div class="col-sm-8">
                                <select class="form-control" id="cmdLegAdd" name="cmdLegAdd"
                                        onchange="preencheAnomalia()"
                                        placeholder="Legenda">
                                    <option value="-1" selected disabled>-- Selecione --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Cod Anômalia</label>
                            <input type="hidden" id="cmdCodAnomaliaUp" />
                            <div class="col-sm-8">
                                <div id="divCodAnomaliaUp" class="control-label" 
                                     style="height:100px; overflow-y:auto; 
                                        border:solid 1px lightgray; border-radius:4px !important; 
                                        text-align:left; padding: 6px;">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Alerta</label>
                            <input type="hidden" id="cmdAlertaUp" />
                            <div class="col-sm-8">
                                <div id="divAlertaAdd" class="control-label"
                                     style="height:50px; overflow-y:auto;
                                        border:solid 1px lightgray; border-radius:4px !important;
                                        text-align:left; padding: 6px;">

                                </div>
                                @*<select class="form-control" id="cmdAlertaAdd" name="cmdAlertaAdd"
                                            placeholder="Alerta">
                                        <option value="-1" selected disabled>-- Selecione --</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Causa</label>
                            <input type="hidden" id="cmdCausaUp" />
                            <div class="col-sm-8">
                                <div id="cmdCausaAdd" class="control-label"
                                     style="height:70px; overflow-y:auto;
                                        border:solid 1px lightgray; border-radius:4px !important;
                                        text-align:left; padding: 6px;">

                                </div>

                                @*<select class="form-control" id="cmdCausaAdd" name="cmdCausaAdd"
                placeholder="Causa">
            <option value="-1" selected disabled>-- Selecione --</option>
        </select>*@
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3 col-md-offset-4">
                        <a id="bntSalvar" onclick="btnAddReparo();" class="btn btn-primary btn-block btn-flat">Adicionar a lista</a>
                    </div>
                </div>
                <hr />

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"><b><label id="lblModalHeader">Editar Politica de Conserva</label></b></h3>
            </div>
            <form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
                <br />
                <div class="modal-body form-group">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <input type="hidden" id="ocp_idEdit" />
                            <label class="control-label col-sm-3">Conserva</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" placeholder="Descrição do Alerta" id="descricaoEdit" style="width:270px;height:80px"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control" placeholder="Conserva" id="conservaEdit" style="width:270px;height:80px"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3 col-md-offset-4">
                        <button id="bntSalvarEdit" onclick="return btnEditSalvar_onclick();" class="btn btn-primary btn-block btn-flat">Atualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/Content/Gerais.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/plugins/sweetalert2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>
<script src="~/Scripts/Reparo/PoliticaReparos.js"></script>
@*<script>
    var version = $.ui ? $.ui.version || "pre 1.6" : 'jQuery-UI not detected';
    alert(version);
    $(document).ready(function () {
        $('select[multiple]').multiselect();
    });
</script>*@
